services:
  nginx-proxy:
    image: nginxproxy/nginx-proxy:latest
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - certs:/etc/nginx/certs:ro
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
    restart: always
    networks:
      - dev_public
      - prod_public
  ssl-companion:
    image: nginxproxy/acme-companion:latest
    container_name: nginx-proxy-ssl
    volumes_from:
      - nginx-proxy
    volumes:
      - acme:/etc/acme.sh
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - DEFAULT_EMAIL=your-email@bdtripp.com
    restart: always
    networks:
      - dev_public
      - prod_public
  deunhealth:
    image: qoomon/docker-hostmanager:latest
    container_name: deunhealth
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
networks:
  dev_public:
    name: dev_public
    external: true # Best to create these manually once: docker network create dev_public
  prod_public:
    name: prod_public
    external: true
volumes:
  certs:
  vhost:
  html:
  acme: