deploy-dev:
  needs: build-and-push
  if: github.ref == 'refs/heads/develop'
  environment: development
  runs-on: ubuntu-latest
  steps:
  
    - name: Copy docker-compose.yml to server
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.DEV_HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        source: "docker-compose.yaml"
        target: "/srv/my-test-projects/"
        strip_components: 0  # Places the file directly in the target folder
        
    - name: Pull images and compose up
      uses: appleboy/ssh-action@master
      with:
      host: ${{ secrets.DEV_HOST }}
      script: |
        export TAG=${{ github.sha }}
        cd /srv/my-test-projects/
        docker compose pull && docker compose up -d

deploy-prod:
  needs: build-and-push
  if: github.ref == 'refs/heads/main'
  environment: production
  runs-on: ubuntu-latest
  steps:

    - name: Copy docker-compose.yml to server
      uses: appleboy/scp-action@v0.1.7
      with:
      host: ${{ secrets.PROD_HOST }}
      username: ${{ secrets.USERNAME }}
      key: ${{ secrets.SSH_PRIVATE_KEY }}
      source: "docker-compose.yaml"
      target: "/srv/my-test-projects/"
      strip_components: 0  # Places the file directly in the target folder

    - name: Pull images and compose up
      uses: appleboy/ssh-action@master # Deployment via SSH to remote server
      with:
      host: ${{ secrets.PROD_HOST }}
      script: |
        export TAG=${{ github.sha }}
        cd /srv/my-test-projects/
        docker compose pull && docker compose up -d